#contact_modal {
  display: none;
}

.stats-frame {
  position: fixed;
  background-color: #db8876;
  width: 450px;
  height: 60px;
  bottom: 0;
  right: 3rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.stats-info {
  display: flex;
  padding: 0 3rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.stats-likes {
  display: flex;
  align-items: center;
}

.photograph-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.profile {
  order: 1;
}

.profile-name {
  font-size: 64px;
  color: #d3573c;
}

.profile-picture {
  order: 3;
  object-fit: cover;
  width: 210px;
  height: 210px;
  border-radius: 50%;
}

.profile-location {
  display: flex;
  font-size: 24px;
  color: #901c1c;
}

.filter-wrapper {
  display: flex;
  gap: 1rem;
  margin: 0 100px;
  padding: 1rem 0 3rem 0;
}

.dropdown {
  position: relative;
  width: 300px;
  height: 50px;
}

.dropdown::before {
  content: '';
  position: absolute;
  right: 140px;
  top: 10px;
  z-index: 1;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 2px solid #901c1c;
  border-right: 2px solid #901c1c;
  transform: rotate(-45deg);
  transition: 0.5s;
  pointer-events: none;
}

.dropdown input::placeholder {
  color: #fff;
}

.dropdown.active::before {
  top: 22px;
  transform: rotate(-225deg);
}

.dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background: #901c1c;
  color: #fff;
  box-shadow: 0 2px 2px #000;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 10px;
}

.dropdown .option {
  position: absolute;
  top: 70px;
  width: 100%;
  background: #901c1c;
  color: #fff;
  box-shadow: 0 30px 30px #000;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  z-index: 15;
}

.dropdown.active .option {
  display: block;
}

.dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.dropdown .option div:hover {
  background: #fff;
  color: #901c1c;
}

.photograph-media-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin: 0 100px;
}

.media-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.media-name,
.lightbox-media-title {
  color: #901c1c;
  font-size: 24px;
}

.media-popularity {
  display: flex;
  gap: 0.5rem;
}

.media-likes {
  font-size: 16px;
}

.liked {
  color: yellow;
}
/* Icone du coeur provenant du site IonIcons */
.md.hydrated {
  color: #901c1c;
}

.stats-frame .md.hydrated {
  color: #000;
}

.md.hydrated.liked {
  color: yellow;
}

.md.hydrated:hover {
  cursor: pointer;
}

.photograph-media-wrapper img,
.photograph-media-wrapper video {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.contact_button,
.submit_button {
  order: 2;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.submit_button {
  height: 40px;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  margin: auto;
  position: absolute;
  top: 1.5rem;
  left: 25%;
}

.overlay-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.modal header {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.photographer-name {
  font-size: 46px;
}

.modal .contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 46px;
  font-weight: normal;
  text-align: center;
}

form {
  padding: 2rem 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

form #message {
  height: 140px;
}
